.off
{
    background-color: #ffffff;
    border: #666666 1px solid;  
    color: #cccccc;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}
.on
{
    background-color: green;
    border: #666666 1px solid;  
    color: #ffffff;
    font: 11px Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}