@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* basic resets */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: linear-gradient(rgba(48, 46, 45, 0.6), rgba(13, 10, 14, 0.6));
}

body {
	font-family: 'Roboto', sans-serif;
}

#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

.cadre {
	width: 30%;
}

#msform fieldset, .cadre fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

#msform input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

#msform .submit{
	width: 100px;
	background: #ffc700;
	font-weight: bold;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.error {
	color: rgb(171, 10, 10);
}

a, a:hover {
	text-decoration: none;
	color: black;
}